#
# CODEOWNERS Generated 5/17/2024 4:41:43 PM
#

* @wcenterprises/digital-is-superusers @wcenterprises/digital-is-superuser brian-kc@outlook.com @brian-welsh

*.yml @wcenterprises/digital-is-build
/build/ @wcenterprises/digital-is-build
/.github/ @wcenterprises/digital-is-build
